name: Release

on:
  push:
    tags:
      - 'v*.*.*' # 当推送格式如 v1.0.0 的标签时触发

permissions:
  contents: write # 必须赋予写入权限才能创建 Release

jobs:
  Release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # 获取完整历史，以便对比标签差异

      # 1. 提取版本号（去掉 refs/tags/ 前缀，只保留 v1.0.0）
      - name: Get Version
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      # 2. 创建 Release 并自动生成提交日志说明
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.get_version.outputs.VERSION }}
          name: ${{ steps.get_version.outputs.VERSION }}
          generate_release_notes: true 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}